.page {
  font-family: 'Cormorant Garamond';
  width: 100%;
}

.page__menu {
  margin: 20px auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centered-block {
  margin: auto;
}

.header {
  min-height: 50px;
  display: flex;
  max-width: 1330px;
  width: 80%;
  text-align: center;
}

.header__link {
  font-size: 28px;
  text-decoration: none;
  color: #10191E;
}

.header__link::after {
  content: "!";
}

.header__link[lang="ru"]::before {
  content: 'Портфолио ';
}

.header__link[lang="en"]::before {
  content: 'Portfolio ';
}

.header__link[lang="fr"]::before {
  content: 'Portefeuille ';
}

.menu {
  display: flex;
  justify-content: center;
  /* min-height: 75px; */
  align-items: center;
  flex-wrap: wrap;
  max-width: 1330px;
  width: 80%;
	margin: 20px auto 60px;
}

.menu__link {
  font-size: 18px;
  text-decoration: none;
  color: #10191E;
  margin-right: 20px;
  margin-bottom: 20px;
}

.menu__link:last-of-type {
  margin-right: 0;
}

.menu__link_active {
  text-decoration: underline;
}

.content {
	max-width: 1330px;
  width: 90%;
}

.content__title {
  font-size: 34px;
  margin: 0 0 40px;
  text-align: center;
}

.beginner_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
align-items: stretch;
   overflow: hidden;
}

.flex-row_reversed {
  flex-direction: row-reverse;
}

.flex-row_space_bottom {
  margin-bottom: 60px;
}

.flex-column {
  display: flex;
  justify-content: space-between;
}

.flex-column_reversed {
  flex-direction: column-reverse;
}

.project {
  background-position: center;
  background-size: cover;
  /* margin: auto; */
  /* height: 100%; */
  overflow: hidden;
  flex-basis: auto;
  position: relative;
}

.project_width_l {
  width: 636px;
}

.project_width_m {
  width: 306px;
}

.project_height_xl {
  height: 557px;
}

.project_height_l {
  height: 430px;
}

.project_height_m {
  height: 290px;
}

.project_height_s {
  height: 240px;
}

.project_name_music-album {
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 48%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  position: relative;
}

.project_name_design-principles {
  background-position: center;
  background-size: cover;
  width: 48%;
  background-image: url(https://pictures.s3.yandex.net/frontend-developer/free-course/cover.jpg);
  text-align: center;
  position: relative;
  z-index: 0;
}

.project_name_design-principles:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.project_name_slider {
  background-image: url(https://code.s3.yandex.net/web-code/slider.gif);
}

.project_name_reactive {
  background-image: url(https://code.s3.yandex.net/web-code/reactive.gif);
}

.project_name_how-to-study {
  background-image: url(https://code.s3.yandex.net/web-code/how-to-study.png);
  /* order: 3; */
}

.project_name_across-russia {
  background-image: url(https://code.s3.yandex.net/web-code/across-russia.png);
  /* order: 2; */
}

.project_name_mesto {
  background-image: url(https://code.s3.yandex.net/web-code/mesto.png);
  /* order: 1; */
}

.project__overlay__link {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.project__overlay {
  background-color: rgba(0, 0, 100, .8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
}

.project__overlay:hover {
  opacity: 1;
}

.link_music {
  text-decoration: none;
  color: inherit;
}

.link_music:hover {
  text-decoration-line: underline;
}

.music-album__overlay {
  flex-direction: column;
  font-size: 20px;
justify-content: flex-end;
}
.project__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 95px;
	display: flex;
  justify-content: center;
  max-width: 1330px;
  width: 100%;
}

.footer__logo {
  width: 145px;
  height: 25px;
  background-image: url(https://pictures.s3.yandex.net/logo_black.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.grid {
  display: grid;
  height: 100%;
  width: 100%;
  /* max-width: 1280px; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.grid__item {
  border: 1px red solid;
  width: 100%;
  height: 100%;
}

.grid__item:nth-child(4) {
  grid-column: 1/3 ;
  grid-row: 1/3;
}

.grid__item:nth-child(1) {
  grid-row: 2/3;
  grid-column: 3/5;
}

.project_name_like{
  border: 1px red solid;
  width: 100%;
  height: 100%;
  position: relative;
}

/* стили для кнопки */
.button_like {
  /* размеры кнопки */
  width: 100px;
  height: 40px;
  /* граница кнопки */
  border: 1px solid black;
  /* белый фон */
  background-color: white;
  /* сложная комбинация, чтобы кнопка была по центру экрана */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  /* уберём подсветку кнопки при клике */
  outline: none;
  /* приятно — плавные переходы при наведении */
  transition: all .4s ease;
  /* настройки шрифта */
  font-family: 'Arial Narrow', sans-serif;
  font-size: 20px;
}

.button_reset
 {
  width: 50px;
  height: 20px;
  /* граница кнопки */
  border: 1px solid black;
  /* белый фон */
  background-color: white;
  /* сложная комбинация, чтобы кнопка была по центру экрана */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 5%;
  left: 5%;
  /* уберём подсветку кнопки при клике */
  outline: none;
  /* приятно — плавные переходы при наведении */
  transition: all .4s ease;
  /* настройки шрифта */
  font-family: 'Arial Narrow', sans-serif;
  font-size: 10px;
 }
/* стили для кнопки при наведении */
button:hover {
  /* курсор — палец */
  cursor: pointer;
  /* малиновая тень */
  box-shadow: 4px 4px crimson;
}

.clicked {
  /* background-color — для цвета фона */
  background-color: black;
  /* color — для цвета текста */
  color: white;
}

/*MUSIK ALBUM*/

.music-album_h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 0;
  margin-top:0 ;
  padding-top: 34px;
  font-weight: normal;
  color: white;
}

.music-album_h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
  color: white;
}

.music-album_img {
  width: 35%;
  margin-bottom: 5%;
}

.music-album_p {
  /* font-family: 'Inter', sans-serif; */
  text-align: center;
  z-index: 15;
  margin: 0;
  margin-bottom: 15px;
}

.music-album{ 
  background-color: mediumaquamarine;
text-align: center;
  height: 100%;
  width: 100%;
}

.music-album_h3
{
  font-family: 'William', serif;
margin: 0;
font-size: 15px;
text-transform: uppercase;
line-height: 18px;
font-weight: normal;
  color: white;
  margin-bottom: 10px;
}

.design-principles__h1 {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  margin-top: 15%;
}